* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main {
  padding-top: 15%;
  font-family: "roboto";
  font-weight: 100;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__inner-buttons button {
  outline: none;
  cursor: pointer;
  border: 2px solid black;
  font-family: "roboto";
  font-weight: 100;
  width: 200px;
  height: 50px;
  background: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}

.main__inner-buttons button:hover {
  background: black;
  border: 2px solid white;
  color: white;
}

.main__inner-text {
  text-align: center;
}

.main__inner-text-top {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 25px;
  position: relative;
}

.main__inner-text-top::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  bottom: -5px;
  left: 0;
}

.main__inner-text-bottom {
  margin-bottom: 20px;
  max-width: 500px;
}

.strangerPopup {
  display: none;
  position: absolute;
  z-index: 1000;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "roboto";
  font-weight: 100;
  left: 50%;
  top: 50%;
  margin-left: -347px;
  margin-top: -177.5px;
}

.strangerPopup__inner {
  padding: 30px;
}

.strangerPopup__inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.strangerPopup__inner form input {
  font-family: "roboto";
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 25px;
}

.strangerPopup__inner form input:last-child {
  cursor: pointer;
}

.strangerPopup__inner form textarea {
  font-family: "roboto";
  font-weight: 100;
  resize: none;
  margin-bottom: 20px;
  font-size: 25px;
}

.strangerPopup__inner-close {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.strangerPopup__inner-close img {
  cursor: pointer;
}

.friendPopup {
  display: none;
  position: absolute;
  z-index: 1000;
  background: white;
  font-family: "roboto";
  font-weight: 100;
  left: 50%;
  top: 50%;
  margin-left: -347px;
  margin-top: -233px;
  border: 2px solid black;
  border-radius: 10px;
}

.friendPopup__inner {
  padding: 30px;
}

.friendPopup__inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.friendPopup__inner form input {
  font-family: "roboto";
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 25px;
}

.friendPopup__inner form input:last-child {
  cursor: pointer;
}

.friendPopup__inner form textarea {
  font-family: "roboto";
  font-weight: 100;
  resize: none;
  margin-bottom: 20px;
  font-size: 25px;
}

.friendPopup__inner-close {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.friendPopup__inner-close img {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .main__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__inner button {
    color: black;
    width: 90%;
    height: 100px;
    font-size: 25px;
  }
  .main__inner-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__inner-text {
    margin-bottom: 50px;
  }
  .friendPopup {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    border: none;
    border-radius: none;
  }
  .strangerPopup {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    border: none;
    border-radius: none;
  }
}
/*# sourceMappingURL=styles.css.map */