* {
    box-sizing: border-box;
}

          
.container {
    width:80%;
    margin:0 auto;
}


.main {
    padding-top: 15%;
    font-family: "roboto";
    font-weight:100;
    &__inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &-buttons {
            display: flex;
            justify-content: center;
            // flex-direction: column;
            align-items: center;

            button {
                outline:none;
                cursor: pointer;
                border:2px solid black;
                font-family:"roboto";
                font-weight:100;
                width:200px;
                height:50px;
                background:white;
                transition:0.3s;
                font-size:14px;
                &:hover {
                    background:black;
                    border:2px solid white;
                    color:white;
                }
                &:first-child {
                    // background:#5dbea3;
                    margin-right: 50px;
                }
            }

        }
        &-text {
            text-align: center;

            &-top {
                margin-bottom: 0px;
                font-weight:700;
                font-size:25px;
                position:relative;

                &::after {
                    content:"";
                    position:absolute;
                    height:2px;
                    width:100%;
                    background:black;
                    bottom:-5px;
                    left:0;
                }
            }
            &-bottom {
                margin-bottom: 20px;
                max-width: 500px;
            }
        }
    }
}

.strangerPopup {
    display: none;
    position:absolute;
    z-index:1000;
    background: white;
    border:2px solid black;
    border-radius:10px;
    font-family: "roboto";
    font-weight:100;
    left:50%;
    top:50%;
    margin-left: -347px;
    margin-top: -177.5px;
    &__inner {
        padding: 30px;
      form {
          display: flex;
          flex-direction: column;
        input {
            font-family: "roboto";
            font-weight:100;
            margin-bottom: 20px;
            font-size:25px;
            &:last-child {
                cursor: pointer;
            }
        }
        textarea {
            font-family: "roboto";
            font-weight:100;
            resize:none;
            margin-bottom: 20px;
            font-size:25px;
        }
      }
      &-close {
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-end;
          img {
              cursor: pointer;
          }
      }
    }
}

.friendPopup {
    display: none;
    position:absolute;
    z-index:1000;
    background: white;
    font-family: "roboto";
    font-weight:100;
    left:50%;
    top:50%;
    margin-left: -347px;
    margin-top: -233px;
    border:2px solid black;
    border-radius:10px;
    &__inner {
        padding: 30px;
      form {
          display: flex;
          flex-direction: column;
        input {
            font-family: "roboto";
            font-weight:100;
            margin-bottom: 20px;
            font-size:25px;
            &:last-child {
                cursor: pointer;
            }
        }
        textarea {
            font-family: "roboto";
            font-weight:100;
            resize:none;
            margin-bottom: 20px;
            font-size:25px;
        }
      }
      &-close {
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-end;
          img {
              cursor: pointer;
          }
      }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width:90%;
    }
    .main {
        &__inner {
            flex-direction: column;
            align-items: center;
            button {
                color:black;
                width:90%;
                height:100px;
                font-size:25px;
                &:first-child {
                    margin-right: 0px;
                    margin-bottom: 50px;
                
                }
            }
            &-buttons {
                flex-direction: column;
            }
            &-text {
                margin-bottom: 50px;
            }
        }
    }

    .friendPopup {
        width:100%;
        margin-left:0px;
        margin-top: 0px;
        top:0;
        left:0;
        background:white;
        height:100%;
        border:none;
        border-radius: none;
    }

    .strangerPopup {
        width:100%;
        margin-left:0px;
        margin-top: 0px;
        top:0;
        left:0;
        background:white;
        height:100%;
        border:none;
        border-radius: none;
    }
}